div{
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  border: 2px solid black;
}

.translated{
  transform: perspective(10px) translateZ(-10px); /* Moves the element 10px away from the viewer */

}

.scaled{
  margin-left: 200px;
  transform: perspective(200px) scaleZ(6) rotateX(15deg) rotateY(15deg); /* Scales the element to twice its size along the Z-axis */
}