.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    border: 1px solid black;
    background-color: coral;
    width: 100px;
    flex-grow:1; /* allow boxes to grow and fill space */
    flex-shrink:4; /* allow boxes to shrink if necessary */
    box-sizing: border-box;
}

#box1{
  order: 1; /* first item in order */
}

#box3{
  order: 8; /* last item in order */
}

