h1{
  text-shadow: 3px 3px;
}

h2{
  text-shadow: 2px 2px 5px red, 60px 20px 5px green; /* horizontal offset, vertical offset, blur radius, color */ 
}


.box{
  width: 200px;
  height: 200px;
  background-color: lightblue;
  box-shadow: 10px 10px 5px red; /* horizontal offset, vertical offset, blur radius, color */
  margin: 20px;
}